//navbar styles file
.container{
  position: sticky;
  top: 0;
  // background: rgb(0 0 0 / 80%);
  box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 10%);
  .navbar {
    & {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    backdrop-filter: blur(3px);
    }
    @media (max-width: 500px) {   padding: 0 15px; }
    // logo and nav are grouped on the left
    .leftGroup{ display: flex; align-items: center; gap: 44px; }

    // logo styles
    .logo { img { width: 24px; height: auto; } }

    //navigation styles
    .nav {
      & {
        display: flex;
        gap: 24px;
        list-style: none;
      }
      @media (max-width: 500px) { display: none; }
      li {
        a {
          text-decoration: none;
          font-family: 'Geist';
          color: #888888;
          font-weight: 400;
          font-size: 14px;
          transition: color .17s ease;
          &:hover { color: #fff; }
        }
      }
    }

    // switch light & dark mode component
    .themeToggle {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      border-radius: 9999px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 5px 5px 5px 5px;
      .iconLight,
      .iconDark,
      .iconAdd{
        color: #888888;
        &:hover { color: #fff; opacity: .8; }
      }
    }
  }
}